body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

button {
  background: #38bdf8;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
