body {
  background: #0f172a;
  color: white;
  text-align: center;
  font-family: Arial;
}

button {
  background: #38bdf8;
  border: none;
  padding: 12px 20px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  opacity: 0.8;
}
.btn {
  display: inline-block;
  background-color: #0d6efd;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}

.btn:hover {
  background-color: #084298;
}
